// USER VARIABLES SECTION
$accent: #000000; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$font: "ProximaNova" sans-serif;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection

// FONTS LOAD SECTION

@include font("ProximaNova", light, 300, "..fonts/src/proxima-nova-light.ttf");

@include font(
  "ProximaNova",
  havy,
  900,
  "..fonts/src/proxima-nova-condensed-black-italic.ttf"
);
@include font(
  "ProximaNova",
  bold,
  700,
  "..fonts/srcproxima-nova-extra-condensed-bold.ttf"
);
@include font(
  "ProximaNova",
  regular,
  400,
  "..fonts/src/proxima-nova-regular.ttf"
);

// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

/*Remove Chrome autocomplete style*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  border: none;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

.text-center {
  text-align: center;
}

b,
strong {
  font-weight: bold;
}

body {
  font-family: $font;
  font-size: $fontsize;

  position: relative;
  line-height: 1.65;
  overflow-x: hidden;

  color: $textcolor;

  background-image: url("../images/dest/background.png");
  background-size: cover;
}

.container {
  max-width: 870px;
  padding: 0 15px;
  margin: 0 auto;
}

