.accordion__block {
  border-radius: 6px;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }

  &.open {
    .accordion__top {
      margin: 0px 16px;
      background-color: #c69c6d;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 0;
        top: 0;
        bottom: 0;
        right: -29px;
        width: 26px;
        border-top: 28px solid transparent;
        border-left: 29px solid #c69c6d;
        border-bottom: 28px solid transparent;
      }
      &::before {
        content: "";
        position: absolute;
        background-image: url("../images/dest/accordion.png");
        background-repeat: no-repeat;
        border: 5px solid #694dc8;
        border-radius: 50%;
        height: 128px;
        width: 128px;
        left: -100px;
        top: -34px;
      }
    }
    .accordion__title {
      color: $white;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        content: "  ";
        background-image: url("../app/images/dest/bas.png");
        width: 128;
        height: 128;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
    .accordion__content {
      max-height: 1000px;
    }
    .accordion__btn {
      overflow: hidden;
    }
  }
}
.accordion__top {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
}

/* .accordion__btn {
  outline: none;
  overflow: hidden;
  /* background-image: url(../images/dest/accordion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent; */
/* background-size: contain;
  transition: all 0.1s;
  width: 25px;
  height: 25px;
  border: none;
  flex: 0 0 24px;
  max-width: 24px;
  max-width: none;
  &:focus {
    outline: none;
  }
}  */
.accordion__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  flex: 1;
  max-width: none;
}
.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
  /*   background-color: $white;
 */
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}
.accordion__content-wrap {
  font-size: 20px;
  color: #ffff;
  padding: 50px 0 50px 31px;
}
