.contacts {
  margin-bottom: 20px;
  &__title {
    font-size: 56px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
  }
  &__forma {
    display: flex;

    justify-content: flex-end;
    flex: 0 0 50%;
  }
  &__contant {
    background-image: url("../images/dest/map_58.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 514px;
  }
  &__form {
    background-color: #ffff;
    display: flex;
    max-width: 50%;
    position: relative;
    flex-direction: column;
    padding: 18px 20px 24px 27px;
    margin: -40px -6px 0px 0px;
    &::after {
      content: "";
      background-color: #5849ae;
      /* height: 1px; */
      position: absolute;
      top: 7px;
      z-index: 1;
      bottom: -12px;
      /* left: 0; */
      right: -9px;
      width: 9px;
    }
    &::before {
      content: "";
      background-color: #5849ae;
      position: absolute;
      /* top: 0; */
      z-index: 1;
      bottom: -12px;
      height: 9px;
      left: 12px;
      right: -9px;
    }
    span {
      text-align: right;
      margin-bottom: 35px;

      font-size: 29px;
      line-height: 24px;
      font-weight: 400;
      text-transform: uppercase;
      color: #594aaf;
    }
    input {
      margin-bottom: 20px;
    }
    button {
      background-image: url("../images/dest/button.png");
      margin: 0 70px;
      padding: 10px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 900;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
