.footer {
  &__container {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__left {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
  }
  &__right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: end;
  }
  &__email {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-right: -10px;
  }
  span {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
  }

  &__title {
    margin-left: 5px;
    span {
      font-size: 29px;
      line-height: 24px;
      font-weight: 900;
      text-transform: uppercase;
      color: #c69c6d;
    }
  }
}
