.header {
  &__input {
    display: flex;
    justify-content: flex-end;

    width: auto;
    font-size: 12px;
    height: 50px;
    .input-tel {
      width: auto;

      text-align: center;
      font-size: 21px;
      font-weight: bold;
      border: 2px solid $grey;
      height: 50px;
      background-color: inherit;
    }
    .input-btn {
      background-color: $grey;
      border: 0;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;

      background: rgb(116, 71, 185);
      background: linear-gradient(
        99deg,
        rgba(116, 71, 185, 0.7) 0%,
        rgba(116, 71, 185, 1) 50%,
        rgba(116, 71, 185, 0.6954131994594712) 100%
      );
      background-repeat: no-repeat;
      border-top: 5px solid;
      border-bottom: 5px solid;
      height: 74px;
      top: 42px;
      left: -35rem;
      width: 1995px;
    }
  }
  .nav-list {
    display: flex;
    padding-left: 0;
    list-style-type: none;
  }
  .nav-line {
    display: block;
    position: relative;

    &:hover {
      background: rgba(198, 156, 109, 0.5);
      color: $grey;
    }
    a {
      display: block;
      padding: 20px 20px;
      font-size: 20px;
      line-height: 27px;
      width: auto;
      font-weight: 300;
      text-transform: uppercase;
      color: $grey;
      text-decoration: none;
    }
  }
  .logo {
    display: block;
    z-index: 0;
    width: 174px;
    height: 173px;
  }
}
