.header {
  &__form {
    
    margin-top: 11px;
    margin-bottom: -28px;
    @include mmax(991){
      
      margin-bottom: 20px;
    }
  }
    &__input {
    display: flex;  
    justify-content: flex-end;
    font-size: 12px;
    height: 50px;
    
    .input-tel {
     
      z-index: 1000;
      text-align: center;
      font-size: 21px;
      font-weight: bold;
      border: 2px solid $grey;
      height: 50px;
      color: #ffff;
      background-color: black;
    }
    .input-btn {
      background-color: $grey;
      border: 0;
      height: 50px;
      margin-right: 20px;
    }
    }  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    @include mmax(991){
      display:flex;
      
    }
    &::before {
      content: "";
      position: absolute;
      background: rgb(116, 71, 185);
      background: linear-gradient(
        99deg,
        rgba(116, 71, 185, 0.7) 0%,
        rgba(116, 71, 185, 1) 50%,
        rgba(116, 71, 185, 0.6954131994594712) 100%
      );
      background-repeat: no-repeat;
      border-top: 5px solid;
      border-bottom: 5px solid;
      height: 74px;
      left: 0;
      right: 0;
    }
  
    &__menu {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    
    @include mmax(991){
      display: flex;
      align-items: center;
    }
  }
  &__list {
    display: flex;
      margin: 0;
      padding-left: 0;
      z-index: 100;
      list-style: none;
      
      @include mmax(991){
        display: none;
      }
     .line {
      &:nth-child(2){
        margin-left: 36px;
      }
      &:nth-child(4){
        margin-left: 36px;
      }
       
     } 
    }
  a {
    display: block;
    z-index: 100;
    padding: 20px 20px;
    font-size: 20px;
    line-height: 27px;
    width: auto;
    font-weight: 300;
    text-transform: uppercase;
    color: $grey;
    text-decoration: none;
    &:hover {
      background: rgba(198, 156, 109, 0.5);
      color: $grey;
    }
  }
    
  &__logo {
    display: block;
    z-index: 200;
    @include mmax(991) {
      align-items: flex-end;
    }
  } 
}
}
    
    
  
 /*  @include mmax(991) {
    padding: 13px 0;
    margin-bottom: 0;
    justify-content: space-between;
    .burger-mobile {
      flex: 0 0 40px;
      max-width: 40px;
    }
    .header__logo {
      flex: 0 0 15%;
      max-width: 15%;
    }
    .form-search {
      width: 100%;
      flex: 0 0 60%;
      max-width: 60%;
    }
    .btn-group {
      margin-left: 0;
      text-align: center;
      flex: 0 0 10%;
      max-width: 10%;
    }
  }
  @include mmax(767) {
    .header__logo {
      flex: 0 0 20%;
      max-width: 20%;
    }
    .form-search {
      width: 100%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
}
} */