.header__inform {
  display: flex;
  margin-bottom: -100px;
  /* position: relative; */
  @include mmax(991) {
    margin-bottom: 300px;
  }

  .servic {
    &__title {
      font-size: 36px;
      font-weight: bold;
      line-height: initial;
      color: $white;
      text-transform: uppercase;
    }
    &__text {
      position: relative;
      font-size: 16px;
      color: $white;
      border-left: 1px solid $grey;
      padding-left: 20px;
      margin: 0 72px 0 0;
      text-align: justify;
      margin-bottom: 40px;
      &::after {
        content: "";
        background-color: #5849ae;
        height: 784px;
        position: absolute;
        top: -396px;
        z-index: 1;
        left: 819px;
        width: 5px;
        @include mmax(991) {
          display: none;
        }
      }
    }
    &__btn {
      position: relative;
      a {
        color: $white;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  .servic-img {
    z-index: -1;
    margin: 139px -1px 45px;
    margin-left: -44px;
    position: relative;
    @include mmax(767) {
      display: none;
    }
    &::after {
      content: "";
      background-color: #5849ae;
      height: 784px;
      position: absolute;
      top: -365px;
      z-index: -1;
      left: 114px;
      width: 10px;
      @include mmax(991) {
        display: none;
      }
    }
    &::before {
      content: "";
      background-color: #c69c6d;
      height: 784px;
      position: absolute;
      top: -365px;
      z-index: 2;
      left: 254px;
      width: 5px;
      @include mmax(991) {
        display: none;
      }
    }
  }

  img {
    position: relative;
    height: 507px;
    @include mmax(991) {
      display: none;
    }
  }
}
