.prioriti {
  margin-bottom: 50px;
  &__title {
    display: block;
    margin-bottom: 40px;
    width: 50%;
    line-height: 77px;

    span {
      font-size: 60px;
      line-height: 24px;
      font-weight: 300;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  &__prof {
    display: flex;
    align-items: flex-end;
    margin-left: -12px;
    @include mmax(767) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  }
  .text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #594aaf;
    padding: 10px 10px 10px 10px;

    p {
      font-size: 14px;
      line-height: 1.2;
      color: #ffff;
    }
    span {
      color: #ffff;
      font-size: 17px;
      line-height: 24px;
      font-weight: 300;

      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  .profs--mod {
    img {
      margin-bottom: -33px;
    }
  }
  .profs {
    /* display: flex; */
    position: relative;
    margin-left: 5px;
    @include mmax(767) {
      display: flex;
      flex-direction: column;
    }
    &::after {
      content: "";
      background-color: #594aaf;
      width: 5px;
      position: absolute;

      right: 0;

      height: 53px;
    }
    &::before {
      content: "";
      background-color: #594aaf;
      width: 5px;
      position: absolute;

      left: 0;
      right: 0;
      bottom: -52px;
      height: 53px;
    }
    img {
      padding-left: 20px;
    }
  }
}
