.prioriti {
  margin-bottom: 50px;
  &__title {
    display: block;
    width: 513px;
    height: auto;
    line-height: 77px;

    span {
      font-size: 60px;
      line-height: 24px;
      font-weight: 300;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  &__prof {
    display: flex;
    align-items: flex-end;
  }
  .text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #594aaf;
    padding: 10px 10px 10px 10px;
    p {
      font-size: 14px;
      line-height: 1.2;
      color: #ffff;
    }
    span {
      color: #ffff;
      font-size: 17px;
      line-height: 24px;
      font-weight: 300;

      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  .profs-mod {
    img {
      margin-bottom: -33px;
    }
  }
  .profs {
    position: relative;

    img {
      padding-left: 20px;
    }
    &::after {
      content: "";
      border: 3px solid #594aaf;
      width: 3px;
      height: 20px;
    }
  }
}
