.workspace {
  margin-top: -150px;
  margin-bottom: 50px;
  background-image: url("../images/dest/fon2.png");
  background-size: 100% 100%;

  background-repeat: no-repeat;

  /* background-position: center; */
  /*  background-size: cover; */
}
.workspace-fon {
  background-image: url("../images/dest/fon_2.png");
  height: auto;
  opacity: 0.9;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__title h2 {
    opacity: 0.5;
    padding-top: 20px;
    font-size: 55.9px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 25px;
  }
  &__title h3 {
    opacity: 0.5;
    font-size: 25.4px;
    line-height: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
  }
  &__wrap {
    display: flex;
    justify-content: flex-end;
    margin: 44px 15px 11px;
    a {
      background-image: url(../images/dest/btn.png);
      background-repeat: no-repeat;
      width: 50px;
      height: 42px;
      padding: 24px 105px;
      font-size: 20px;
      text-transform: uppercase;
      color: #ffff;
      text-decoration: none;
    }
    .modal-containter {
      margin: 33px;
    }
  }
  &__accordion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__content {
    margin-top: -32px;
  }
  &__imform {
    margin-top: 34px;
    margin-left: 30px;
    p {
      font-size: 17px;
      color: #594aaf;
    }
  }
}
